.select{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #DDD;
    /* padding-left: 20px; */
    margin-top: 11px !important;
    width: 24%;
    text-align: center;
    border-radius: 7px;
}

.select label{
    margin-bottom: -10px !important;
    display: block;
}
